<footer role="contentinfo">

	<div class="envio-block">
		<form class="envio-form" autocomplete="on" method="POST" onsubmit="">

    <header class="envio-form-header">
      <h2 class="envio-form-header-title">ENVIAR DOCUMENTOS</h2>
      <div class="envio-form-header-description"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p></div>
    </header>

    <div class="envio-form-body">
      <div class="envio-form-fields-wrapper">
        <div class="envio-form-field-wrapper">
          <label class="envio-form-field-label" for="envio">Email Address</label>
          <input id="envio" class="envio-form-field-element" name="email" x-autocompletetype="email" spellcheck="false" placeholder="Email Address" type="text">
        </div>
      </div>

      <div class="envio-form-button-wrapper submit-wrapper">
        <button class="envio-form-button" type="submit" value="Enviar">
        	<span class="envio-form-button-label">Enviar</span>
        </button>
      </div>
    </div>
    
     <div class="envio-form-footnote"><p>We respect your privacy.</p></div>
  </form>
	</div>
	
	<div class="footer-links">
		<a href="/"><img class="logo" src="assets/img/logoconfidencialW.png" alt="El Confidencial"></a>

		<h2>POWERED BY <a href="" target="_blank">BLITZ!</a></h2>
	</div>
</footer>