<header role="banner">
	<button>Enviar Documentos</button>

	<h1><a href="/"><img src="assets/img/logoconfidencialW.png" alt="El Confidencial"></a></h1>

	<nav role="navigation">
		<ul>
			<li><a href="#">link 1</a></li>
			<li><a href="#">link 2</a></li>
			<li><a href="#">link 3</a></li>
		</ul>
		<ul>
			<li><a href="#">{% include social-facebook.html %}</a></li>
			<li><a href="#">{% include social-twitter.html %}</a></li>
			<li><a href="#">{% include social-googleplus.html %}</a></li>
		</ul>
	</nav>
</header>