<header role="banner">

	<h1><a href="/"><img class="logo" src="assets/img/logoconfidencialW.png" alt="El Confidencial"></a></h1>
	
	<div class="buttonContainer">
		<button>ENVIAR DOCUMENTOS</button>
	</div>

	<nav role="navigation">
		<ul class="primaryNav">
			<li><a href="#">link 1</a></li>
			<li><a href="#">link 2</a></li>
		</ul>

		<ul class="secondaryNav">
			<li><a href="#">{% include social-facebook.html %}</a></li>
			<li><a href="#">{% include social-twitter.html %}</a></li>
			<li><a href="#">{% include social-googleplus.html %}</a></li>
		</ul>
	</nav>
</header>