html { box-sizing: border-box; }

* {
	box-sizing: inherit;
	&:after, &:before { box-sizing: inherit; }
}

body {
	padding: 0;
	color: black;
}

main {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

img { max-width: 100%; }